<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends 'blogs/base.html' %}

{% block page_header %}
    <h3>{{ blog.name }} - {{ blog.date_added|date:'d/m/Y' }}</h3>
{% endblock page_header %}

{% block content %}
    <div class="card mb-3">
       <div class="card-body">
           //Feito por {{ blog.owner.username|title}}\\<br>

           {{ blog.text|linebreaks }}
           {% if blog.owner == user %}
           <small><a
                   href="{% url 'blogs:edit_blog' blog.id %}">Edite o blog
           </a></small>
           {% endif %}
       </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h3>Comentários sobre {{ blog.name|title }} - {{ blog.owner.username }}</h3>
        </div>

        <div class="card-body">
            <a href="{% url 'blogs:new_comment' blog.id %}">Adicione um comentário</a>
            {% for comment in comments %}
                <li>
                    <p>{{ comment.owner|title }} - {{ comment.date_added|date:'d/m/Y' }}</p>
                    {{ comment.text|linebreaks }}
                </li>
            {% empty %}
                <p>Nenhum comentário sobre esse blog</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
</body>
</html>